<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.shop.mapper.ShopOrderMapper">
    <sql id="Base_Column_List">
        id, order_id, order_no, user_id, total_price, pay_status, pay_type, pay_time, order_status,
        extra_info, is_deleted, create_time, update_time
     </sql>
    <select id="queryShopOrderPageList" parameterType="Map" resultType="com.ratel.shop.entity.ShopOrder">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shop_order
        <where>
            <if test="orderNo!=null and orderNo!=''">
                AND order_no = #{orderNo}
            </if>
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="payType!=null and payType!=''">
                AND pay_type = #{payType}
            </if>
            <if test="orderStatus!=null">
                AND order_status = #{orderStatus}
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                AND is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                AND create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                AND create_time &lt; #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="start!=null and limit!=null">
            LIMIT #{start},#{limit}
        </if>
    </select>

    <select id="queryShopOrderPageCount" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM t_shop_order
        <where>
            <if test="orderNo!=null and orderNo!=''">
                AND order_no = #{orderNo}
            </if>
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="payType!=null and payType!=''">
                AND pay_type = #{payType}
            </if>
            <if test="orderStatus!=null">
                AND order_status = #{orderStatus}
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                AND is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                AND create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                AND create_time &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="queryShopOrderByOrderIds" resultType="com.ratel.shop.entity.ShopOrder">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shop_order
        WHERE order_id IN
        <foreach collection="orderIds" item="orderId" index="index"
                 open="(" separator="," close=")">#{orderId}
        </foreach>
    </select>

    <update id="updateOrderAllotStatus">
        UPDATE t_shop_order
        SET order_status = 2, update_time = now()
        WHERE order_id IN
        <foreach collection="orderIds" item="orderId" index="index"
                 open="(" separator="," close=")">#{orderId}
        </foreach>
    </update>

    <update id="updateOrderOutStatus">
        UPDATE t_shop_order
        SET order_status = 3,update_time = now()
        WHERE order_id IN
        <foreach collection="orderIds" item="orderId" index="index"
                 open="(" separator="," close=")">#{orderId}
        </foreach>
    </update>

    <update id="updateOrderCloseStatus">
        UPDATE t_shop_order
        SET order_status = #{orderStatus},update_time = now()
        WHERE order_id IN
        <foreach collection="orderIds" item="orderId" index="index"
                 open="(" separator="," close=")">#{orderId}
        </foreach>
    </update>

    <resultMap id="BaseResultMap" type="com.ratel.shop.entity.ShopOrder">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="total_price" jdbcType="INTEGER" property="totalPrice"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="extra_info" jdbcType="VARCHAR" property="extraInfo"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order
        where order_no = #{orderNo,jdbcType=VARCHAR} and is_deleted=0 limit 1
    </select>


    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update tb_newbee_mall_order set is_deleted=1
    where order_id = #{orderId,jdbcType=BIGINT} and is_deleted=0
  </update>
    <insert id="insert" parameterType="com.ratel.shop.entity.ShopOrder">
    insert into tb_newbee_mall_order (order_id, order_no, user_id, 
      total_price, pay_status, pay_type, 
      pay_time, order_status, extra_info, 
      is_deleted, create_time, update_time
      )
    values (#{orderId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{totalPrice,jdbcType=INTEGER}, #{payStatus,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{payTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=TINYINT}, #{extraInfo,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="orderId"
            parameterType="com.ratel.shop.entity.ShopOrder">
        insert into tb_newbee_mall_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="extraInfo != null">
                extra_info,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=TINYINT},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="extraInfo != null">
                #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ratel.shop.entity.ShopOrder">
        update tb_newbee_mall_order
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=TINYINT},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="extraInfo != null">
                extra_info = #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ratel.shop.entity.ShopOrder">
    update tb_newbee_mall_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      total_price = #{totalPrice,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=TINYINT},
      pay_type = #{payType,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=TINYINT},
      extra_info = #{extraInfo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>